<!-- <nav class="bg-serious"> -->
  <nav class="blue">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo" style="margin-left: 8%">
      <!-- <img src="../assets/img/stLogoWhite.png" class="ml-2" width="65" alt="Logo"> -->
      Micuadra
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a href="/quadrangulars">Cuadrangular</a>
      </li>
      <li>
        <a href="/tasks">Tareas</a>
      </li>
      <li>
        <a href="/pets">Mascotas</a>
      </li>
      <li>
        <a href="/travels">Paquetes de viaje</a>
      </li>
      <li>
        <a (click)="logOut()">Cerrar Sesión</a>
      </li>
    </ul>
  </div>
</nav>
